#youtubeVideo{
    margin-left: 30%;
    margin-right: 100%;
    
    }
    body{
        background-color: white;
    }
    #mainHeading{
        margin-left: 30%;
        margin-right: auto;
        color: #99B6D6;
    }
    #button{
        color: black;
    }